@model IEnumerable<NewsVML>

@{
    ViewBag.Title = "სიახლეები";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var formTitle = ViewBag.Title;
}


@using (Html.LsTable("სიახლეების სია", "News/Update"))
{
    <!--begin: Datatable -->
    <table class="table table-striped- table-bordered table-hover table-checkable DTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Slug)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PublishDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsPublished)
                </th>
                <th>ინსტრუმენტები</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Slug)
                </td>
                <td>
                    @Html.Raw(item.PublishDate)
                </td>
                <td>
                    @Html.LsCheckBox(modelItem => item.IsPublished, false, false)
                </td>
                <td>
                    <a href="@Url.Action("Update", new { item.Id })" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" title="Edit">
                        <i class="la la-edit"></i>
                    </a>
                    <a href="#" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill btn-row-delete" data-action="/Delete" title="Delete" id="@item.Id">
                        <i class="la la-trash"></i>
                    </a>
                </td>
            </tr>
            }
        </tbody>

    </table>

}

